{% extends 'characters/base.html' %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>{{ house.name|upper }}</h1>
    <a class="btn btn-default" href="{% url 'home' %}">Back</a>
  </div>
</div>
<hr>
<div class="row">
  {% for character in house.characters.all %}
  <div class="col-md-3">
    <div class="thumbnail">
      <img class="img" src="{% get_media_prefix %}{{ character.image }}" alt="{{ character.name }}">
      <div class="caption">
        <h3>{% if character.is_die %}<span class="badge">RIP</span> {% endif %}{{ character.name }} {% if character.is_lord %}<b>*</b>{% endif %}</h3>
        <p>
        <a href="{% url 'character_action' house.id character.id 'like'  %}" class="btn btn-primary" role="button">Like <span class="badge">{{ character.likes }}</span></a> <a href="{% url 'character_action' house.id character.id 'dislike'  %}" class="btn btn-danger" role="button">Dislike <span class="badge">{{ character.dislikes }}</span></a>
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
